div{
    background-color: palevioletred;
    color: blue;
    /* margin: 100px; */
    /* margin: 100px 50px 100px 50px; */
    /* margin-left: 5px; */
    margin: 100px 5px;
    /* padding: 100px; */
    /* background-color: #fafafa;
    background-color: rgb(172,172,172); */
}