div{
    background-color: palevioletred;
    /* margin: 100px; */
    /* margin: 100px 50px 10px 5px; */
    /* margin: 100px 5px; */
    /* margin-left: 5px; */
    padding: 100px;
    /* background-color: #fafafa;
    background-color: rgb(172,172,172); */
}