body{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.container{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 100px 70px 1fr 100px;
    grid-template-areas: "header header"
                "nav nav"
                "sidebar main"
                "footer footer"
                
}

.container > *{
    padding: 20px 0 0 40px;
    font-weight: 900;
    font-size: 1.6rem;
    text-transform: uppercase;
}

header{
    grid-area: header;
    background-color: rgb(175, 33, 33);
    
}

nav{
    grid-area: nav;
    background-color: rgb(247, 130, 130);
}

aside{
    grid-area: sidebar;
    background-color: rgb(29, 185, 42);
}

main{
    grid-area: main;
    background-color: greenyellow;
}

footer{
    grid-area: footer;
    background-color:rgb(28,36,156);
}